# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/msvc/armaminpack_test/.vs/armaminpack_test
/msvc/armaminpack_test/x64/Debug/armaminpack_test.tlog
/msvc/armaminpack_test/x64/Debug/vc141.pdb
/msvc/armaminpack_test/x64/Debug/vc141.idb
/msvc/armaminpack_test/x64/Debug/armaminpack_test.pdb
/msvc/armaminpack_test/x64/Debug/armaminpack_test.new.obj.enc
/msvc/armaminpack_test/x64/Debug/armaminpack_test.log
/msvc/armaminpack_test/x64/Debug/armaminpack_test.ilk
/msvc/armaminpack_test/x64/Debug/armaminpack_test.Build.CppClean.log
/armadillo/misc
